      html, body {
        overflow: hidden;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
      }
      canvas {
        border: 1px solid black;
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }